* {
    margin: 0;
    padding: 0;
    box-sizing: border-box/;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: hsl(0, 0%, 100%);
}

div,
section {
    border: 1px solid #000;
}



#background_pattern {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#card_page {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 15vh;
    letter-spacing: 0.2vw;

}

#cards {}

#card_front {
    display: flex;
    margin-bottom: 4vh;
}

label {
    font-size: 0.6vw;
    font-weight: 900;
}

#card_front_content {
    position: absolute;
    color: hsl(0, 0%, 100%);

    padding-left: 2vw;
    padding-top: 2.5vh;
    padding-bottom: 1.5vh;

}

#card_main_number {
    font-size: 1.5vw;

    padding-top: 6vh;
    padding-bottom: 3vh;
}

#card_name {
    text-transform: uppercase;
}

#cardholder_and_number {
    display: grid;
    margin-bottom: -10vh;
}

#card_name_and_expiration {
    display: flex;
    justify-content: space-between;
    font-size: 0.5vw;
}

#card_back {
    margin-left: 6vw;
    display: grid;
    align-items: center;
    justify-items: right;

}

#card_back_content {
    position: absolute;
    color: hsl(0, 0%, 100%);
    ;
}

#card_back_cvc {
    padding-right: 2.5vw;
    margin-bottom: 0.25vw;
}

#Thank_you_page {
    display: none;
}

#main_text_container {
    display: grid;
    justify-items: center;
    border-color: aqua;

    color: hsl(278, 68%, 11%);
    text-transform: uppercase;
    letter-spacing: 0.14vw;

    padding-top: 10vh;
}

.card_input {
    width: 25vw;
}

.number_input {
    -moz-appearance: textfield;
    appearance: textfield;
}

ch_name::placeholder {
    padding-left: 10vw;
}


#cardholder_and_number {
    display: grid;
    margin-bottom: 1.5vh;
}

#cardholder_and_number input {
    width: 25vw;
}

#cardholder {
    margin-bottom: 1.5vh;
}

#exp_cvc_input {
    display: flex;
    justify-content: space-between;
}

input {
    height: 5vh;
    border-radius: 8px;
    border-color: hsl(278, 68%, 11%);
    border-width: 0.1vw;
}

#Ch_name {}

#exp_month,
#exp_year {
    width: 5vw;
}

#cvc {
    width: 11.5vw;
    margin-left: 0.5vw;
}

#confirm_button {
    width: 23vw;
    height: 3vw;
    margin: 10vw;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 5vh;
}