* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: hsl(0, 0%, 100%);
}

/* div,
section {
    border: 1px solid #000;
} */

#background_pattern {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-size: cover;
    background-attachment: fixed;
}

#card_page {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 15vh;
    letter-spacing: 0.2vw;

}

/* #cards {} */

#card_front {
    display: flex;
    margin-bottom: 4vh;
}

label {
    font-size: 0.6vw;
    font-weight: 900;
}

#card_front_content {
    position: absolute;
    color: hsl(0, 0%, 100%);
    width: 27vw;

    padding-left: 2vw;
    padding-top: 3.5vh;
    padding-bottom: 1.5vh;
}

#card_text {
    padding-top: 4vh;
}

#card_main_number {
    font-size: 1.5vw;

    padding-top: 6vh;
    padding-bottom: 3vh;
}

#card_name {
    text-transform: uppercase;
}
#main_text_container label {
    text-transform: uppercase;
}

#cardholder_and_number {
    display: grid;
    margin-bottom: -10vh;
}

#card_name_and_expiration {
    display: flex;
    justify-content: space-between;
    font-size: 0.5vw;
}

#card_back {
    margin-left: 6vw;
    display: grid;
    align-items: center;
    justify-items: right;

}

#card_back_content {
    position: absolute;
    color: hsl(0, 0%, 100%);
    ;
}

#card_back_cvc {
    padding-right: 3.5vw;
    margin-bottom: 0.25vw;
}


#Thank_you_page {
    display: none;
    margin-top: 15vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Thank_you_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    line-height: 1.7vw;
}

#thank_you {
    text-transform: uppercase;
    font-weight: bold;
    color: hsl(278, 68%, 11%);

    font-size: large;

}

#text_details {
    align-items: center;
    justify-content: center;
    color: hsl(279, 6%, 55%);
    letter-spacing: 0vw;
    padding-top: 2vh;
}

#main_text_container {
    display: grid;
    justify-items: center;

    color: hsl(278, 68%, 11%);
    letter-spacing: 0.2vw;

    padding-top: 10vh;
}

.card_input {
    width: 20vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

}

.number_input {
    -moz-appearance: textfield;
    appearance: textfield;
}

#ch_name, #number, #exp_month, #exp_year, #cvc {
    font-family: "Space Grotesk", sans-serif;
    font-weight:800;
    font-size: 0.8vw;
    color: hsl(278, 68%, 11%);
}

input::placeholder {
    padding-left: 0.6vw;
}

input[type="text"] {
    padding-left: 0.6vw;
}

#cardholder_and_number {
    display: grid;
    margin-bottom: 1.5vh;
}

#cardholder_and_number input {
    width: 20vw;
}

#cardholder {
    margin-bottom: 1.5vh;
}

#exp_cvc_input {
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

input {
    height: 5vh;
    border-radius: 8px;
    border-color: hsl(278, 68%, 11%);
    border-width: 0.1vw;
}


#exp_month,
#exp_year {
    width: 4vw;

}

#cvc {
    width: 10vw;
}

#cvc_label {
    margin-left: 0.9vw;
}

#continue_button,
#confirm_button {
    width: 20vw;
    height: 3vw;
    margin: 10vw;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 5vh;
}

footer {
    margin-top: 2vh;
}

.error_msg {
    display: none;
    position: absolute;
    color: rgb(255, 57, 57);
    font-size: x-small;
    letter-spacing: 0.1vw;

    padding: 1vh;
}

#img_ty{
    margin-left: 17vw;
}